@{
  ViewData["Title"] = "Create Destination";
}

@model TravelClientApi.Models.Destination

<h4>Add a new Destination Review</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country)
  <br>
  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City)
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  <br>
  @Html.LabelFor(model => model.Review)
  @Html.TextAreaFor(model => model.Review)
  <br>
  <input type="submit" value="Create" class="btn btn-danger"/>
}

<br>
<p>@Html.ActionLink("Back to all destinations", "Index")</p>