@{
  ViewData["Title"] = $"Detials for {Model.Country}";
}

<h1>All About @Model.Country</h1>

<p>City: @Model.City</p>
<p>Rating: @Model.Rating</p>
<p>Review: @Model.Review</p>

<p>@Html.ActionLink("Return to all Destinations", "Index")</p>
<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.DestinationId })</p>
<p>@Html.ActionLink("Delete Destinations", "Delete", new { id = @Model.DestinationId})</p>